*{
	margin: 0;
	padding: 0;
	background-color: blanchedalmond;
}

.ratio{
	margin: 1% 2% 5% 5%;
}

.nva{
	width: 100%;
	height: 52px;
	background-color: blanchedalmond;
	/* 居中设置 */
	padding-left: 30%;
	margin: 5px auto;
	position: sticky;
	top: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blanchedalmond;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
	line-height: 36px;
	font-size: 18px;
    padding: 8px 39px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: lightpink;
}

.active {
    background-color: pink; 
}